@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.google.com/specimen/Poppins');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins';
}

img, li, a{
    background-color: #f3f3f3;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}

header {
    background-color: #f3f3f3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Nav-list{
    background-color: #f3f3f3;
    list-style-type: none
}

.Nav-list li{
    display: inline-block;
    padding-left: 40px;
}

.Nav-list li a{
    transition: all 0.2s ease 0s;
}

.Nav-list li a:hover{
    color: #7F5C5C;
}

/*===[END OF NAVBAR CSS]===*/



.Hero {
    width: 100vw;
    height: calc(100vw - 65vw);
    overflow: hidden;
    background-color: #000000;
}

.Hero h1{
    position: relative;
    top: -25%;
    left: 5%;
    background-color: transparent;
    color: #ffffff;
    font-size: 4.157rem;
}

.img-container img{
    width: 100vw;
    object-fit: cover;
    object-position: 0px -100px;
    opacity: 0.7;
}

@-webkit-keyframes slide_animation{
    0% {right: 0vw;}
    10% {right: 0vw;}
    20% {right: 100vw;}
    30% {right: 100vw;}
    40% {right: 200vw;}
    50% {right: 200vw;}
    60% {right: 200vw;}
    70% {right: 300vw;}
    80% {right: 300vw;}
    90% {right: 300vw;}
    100% {right: 0vw;}
    
}

.Slider{
    display: flex;
    width: 100vw;
    height: calc(100vw - 65vw);
    margin: 0vw 0vw 0vw 0vw;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:normal ;
    -webkit-animation-play-state: running;
}

.img-container{
    height: calc(100vw - 65vw);
    width: 100vw;
    position: relative;
    float: left;
    background-color: #000000;
}

/*===[END OF HERO]===*/

.Events{
    display: flex;
    width: 100vw;
    height: calc(100vw - 74.8vw);
    justify-content:space-evenly;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.Events-card{
    width: 350px;
    height: 350px;
    overflow: hidden;
}

.Events h2{
    position: relative;
    top: -15%;
    left: 3%;
    background-color: transparent;
    color: white;
    font-weight: 700;
}