@font-face {
    font-family: "Poppins";
    src: url("https://fonts.google.com/specimen/Poppins");
  }
  
  body {
    overflow-x: hidden;
  
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Poppins";
  }


  .Hero {
    width: 100%;
    height:calc(100vw - 65vw);
    overflow: hidden;
    background-color: transparent;
  }

  .Hero .img-container{
    background-color: black;
    height: inherit;
  }

  .Hero .img-container img{
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
  }

  .Hero  h1{
    position: relative;
    background-color: transparent;
    color: white;
    top: -60%;
    left: 60px;
    font-size: 6vw;
  }

  .places{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 160px 60px 240px;
    gap: 20px;
  }
  .place-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
  }

  .place-card{
    width: 500px;
    background-color: black;
    height: 250px;
    overflow: hidden;
    flex-shrink: 0;
    border-width: 1px;
    border-style: solid;
    position: relative;
  }

  .place-card img{
    filter: blur(4px);
    -webkit-filter: blur(4px);
    width: inherit;
    opacity: 0.9;
    
  }


  .card-content{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 45%;
    left: 10px;
    background-color: transparent;
    gap: 20px;
    z-index: 100;
  }

  .card-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: transparent;
  }

  .card-text p,.card-text h2{
    background-color: transparent;
    color: white;
  }

  .card-img{
    width: 100px;
    height: 130px;
    overflow: hidden;
  }

  .card-img img{
    filter: blur(0px);
    -webkit-filter: blur(0px);
    height: inherit;
    
  }

  @media screen and (max-width: 490px){

    .Hero {
      width: 100%;
      height:calc(150vw - 25vw);
      overflow: hidden;
      background-color: transparent;
    }
  
    .Hero .img-container{
      background-color: black;
      height: inherit;
    }
  
    .Hero .img-container img{
      height: inherit;
      object-fit: cover;
      opacity: 0.7;
    }
  
    .Hero  h1{
      position: relative;
      background-color: transparent;
      color: white;
      top: -20%;
      left: 40px;
      font-size: 12vw;
    }

    .places{
      display: flex ;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 60px 40px 60px 40px;
      gap: 20px;
    }

    .place-card{
      width: 100%;
      background-color: black;
      height: 250px;
      overflow: hidden;
      flex-shrink: 0;
      border-width: 1px;
      border-style: solid;
      position: relative;
    }

    .place-card-container{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 10px;
      justify-content: flex-start;
    }
  
    
  
    
    
  }