.Events {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: max-content;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 60px;
    gap: 20px;
    background-color: #f7f7f7;
  }
  
  .event-container{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    background-color: transparent;
  }
  
  .event-card-container{
    position: relative;
    
  }
  
  .Events-card {
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    background: #000000;
    z-index: 1;
    transition: 0.5s;
  }
  
  .Events-card:hover{
    width: 350px;
    height: 350px;
    overflow: hidden;
    background: #000000;
    opacity: 0.0;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .Events-card-hover {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 350px;
    height: 350px;
    overflow: hidden;
    gap: 0px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    z-index: 0;
  }
  
  
  
  .Events-card-hover .Event-img-frame{
    height: 50%;
    overflow: hidden;
    
  }
  .Events-card-hover .Event-img-frame img{
    width: 100%;
    object-fit: cover;
    position: relative;
    top: -50%;
    
  }
  
  .Events-card img {
    opacity: 0.7;
    object-fit: cover;
    width: 100%;
  }
  
  .Events h2 {
    position: relative;
    top: -15%;
    left: 3%;
    background-color: transparent;
    color: white;
    font-weight: 700;
    width: 70%;
    background-color: transparent;
  }
  
  .Events .Event-title, .Event-title h1, p{
    background-color: transparent;
  }

  @media screen and (max-width: 873px){
    
    .event-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      justify-content: space-evenly;
      background-color: transparent;
      gap: 60px;
    }
    
  }

  @media screen and (max-width: 490px){

    .event-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      justify-content: space-evenly;
      background-color: transparent;
    }
  }